<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5">
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>
	<context-param>
		<param-name>contextClass</param-name>
		<param-value>
			org.springframework.web.context.support.AnnotationConfigWebApplicationContext
		</param-value>
	</context-param>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			edu.gatech.chai.gtfhir2.config.FhirServerConfig
		</param-value>
	</context-param>
	<context-param>
		<param-name>backendDbType</param-name>
		<param-value>omopv5</param-value>
	</context-param>
	<context-param>
		<param-name>preferredPageSize</param-name>
		<param-value>100</param-value>
	</context-param>
	<context-param>
		<param-name>terminologyServerUrl</param-name>
		<param-value>http://measure.eval.kanvix.com/cqf-ruler/baseDstu3
		</param-value>
	</context-param>
	<context-param>
		<param-name>transactionServer</param-name>
		<param-value>http://localhost:8080/</param-value>
	</context-param>

	<!-- This is SMART on FHIR service -->
	<servlet>
		<servlet-name>SmartServices</servlet-name>
		<servlet-class>edu.gatech.chai.gtfhir2.smart.servlet.SmartServices
		</servlet-class>
		<init-param>
			<param-name>introspectUrl</param-name>
			<param-value>http://localhost:8060/introspect</param-value>
			<!-- <param-value>http://smart-st.i3l.gatech.edu:9085/introspect</param-value> -->
		</init-param>
		<init-param>
			<param-name>client_id</param-name>
			<param-value>client</param-value>
		</init-param>
		<init-param>
			<param-name>client_secret</param-name>
			<param-value>secret</param-value>
		</init-param>
		<load-on-startup>3</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>SmartServices</servlet-name>
		<url-pattern>/fhir/_services/smart/Launch/*</url-pattern>
	</servlet-mapping>

	<!-- This servlet is for the testing webpage, which is imported via the 
		hapi-fhir-testpage-overlay Maven WAR overlay -->
	<servlet>
		<servlet-name>spring</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
		<init-param>
			<param-name>contextClass</param-name>
			<param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext
			</param-value>
		</init-param>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>edu.gatech.chai.gtfhir2.config.FhirTesterConfig
			</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>spring</servlet-name>
		<url-pattern>/tester/*</url-pattern>
	</servlet-mapping>

	<!-- This is the actual FHIR server -->
	<servlet>
		<servlet-name>fhirServlet</servlet-name>
		<servlet-class>edu.gatech.chai.gtfhir2.servlet.RestfulServlet
		</servlet-class>
		<init-param>
			<param-name>authServerUrl</param-name>
			<param-value>http://localhost:8060</param-value>
		</init-param>
		<init-param>
			<param-name>introspectUrl</param-name>
			<param-value>http://localhost:8060/introspect</param-value>
		</init-param>
		<init-param>
			<param-name>enableOAuth</param-name>
			<param-value>False</param-value>
		</init-param>
		<init-param>
			<param-name>clientId</param-name>
			<param-value>client</param-value>
		</init-param>
		<init-param>
			<param-name>clientSecret</param-name>
			<param-value>secret</param-value>
		</init-param>
		<init-param>
			<param-name>localByPass</param-name>
			<param-value>True</param-value>
		</init-param>
		<init-param>
			<param-name>readOnly</param-name>
			<param-value>False</param-value>
		</init-param>

		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>fhirServlet</servlet-name>
		<url-pattern>/fhir/*</url-pattern>
	</servlet-mapping>

</web-app>