<?xml version="1.0" encoding="UTF-8"?>
<!--
    Copyright (c) 2019 Georgia Tech Research Institute
   
    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at
   
        http://www.apache.org/licenses/LICENSE-2.0
   
    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
 -->

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee" version="2.5">
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener
		</listener-class>
  </listener>
  <context-param>
    <param-name>contextClass</param-name>
    <param-value>
			org.springframework.web.context.support.AnnotationConfigWebApplicationContext
		</param-value>
  </context-param>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>
			edu.gatech.chai.omoponfhir.config.FhirServerConfig
		</param-value>
  </context-param>
  <context-param>
    <param-name>backendDbType</param-name>
    <param-value>omopv5</param-value>
  </context-param>
  <context-param>
    <param-name>preferredPageSize</param-name>
    <param-value>100</param-value>
  </context-param>
  <context-param>
    <param-name>terminologyServerUrl</param-name>
    <param-value>http://measure.eval.kanvix.com/cqf-ruler/baseDstu3</param-value>
  </context-param>
  <context-param>
    <param-name>transactionServer</param-name>
    <param-value>http://localhost:8080/</param-value>
  </context-param>
  <servlet>
    <servlet-name>SmartServices</servlet-name>
    <servlet-class>edu.gatech.chai.omoponfhir.smart.servlet.SmartServices
		</servlet-class>
    <init-param>
      <param-name>introspectUrl</param-name>
      <param-value>http://docker.for.mac.localhost:8060/introspect</param-value>
    </init-param>
    <init-param>
      <param-name>client_id</param-name>
      <param-value>client_omop</param-value>
    </init-param>
    <init-param>
      <param-name>client_secret</param-name>
      <param-value>secret</param-value>
    </init-param>
    <load-on-startup>3</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>SmartServices</servlet-name>
    <url-pattern>/fhir/_services/smart/Launch/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>spring</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
    <init-param>
      <param-name>contextClass</param-name>
      <param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext
			</param-value>
    </init-param>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>edu.gatech.chai.omoponfhir.config.FhirTesterConfig
			</param-value>
    </init-param>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>spring</servlet-name>
    <url-pattern>/tester/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>fhirServlet</servlet-name>
    <servlet-class>edu.gatech.chai.omoponfhir.servlet.RestfulServlet
		</servlet-class>
    <init-param>
      <param-name>authServerUrl</param-name>
      <param-value>http://docker.for.mac.localhost:8060</param-value>
    </init-param>
    <init-param>
      <param-name>introspectUrl</param-name>
      <param-value>http://docker.for.mac.localhost:8060/introspect</param-value>
    </init-param>
    <init-param>
      <param-name>enableOAuth</param-name>
      <param-value>False</param-value>
    </init-param>
    <init-param>
      <param-name>clientId</param-name>
      <param-value>client_omop</param-value>
    </init-param>
    <init-param>
      <param-name>clientSecret</param-name>
      <param-value>secret</param-value>
    </init-param>
    <init-param>
      <param-name>localByPass</param-name>
      <param-value>True</param-value>
    </init-param>
    <init-param>
      <param-name>readOnly</param-name>
      <param-value>True</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>fhirServlet</servlet-name>
    <url-pattern>/fhir/*</url-pattern>
  </servlet-mapping>
</web-app>